<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Electrokot Sik</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
</head>
<body>
    <canvas id="myChart"></canvas>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        let lastData = {}; // Store the last fetched data for comparison
        const chart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: []
            },
            options: {
                plugins: {  // 'legend' now within object 'plugins {}'
                    legend: {
                        labels: {
                            color: "red",  // not 'fontColor:' anymore
                            // fontSize: 18  // not 'fontSize:' anymore
                            font: {
                                size: 28 // 'size' now within object 'font {}'
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'second',
                            tooltipFormat: 'HH:mm:ss',
                            displayFormats: {
                                second: 'HH:mm:ss'
                            }
                        },
                        title: {
                            display: true,
                            text: 'Time'
                        },
                        ticks: {
                            color: 'rgba(255, 202, 0, 0.8)', // not 'fontColor:' anymore
                            // fontSize: 18,
                            font: {
                                size: 10, // 'size' now within object 'font {}'
                            },
                        },
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Count'
                        },
                        grid: {
                        color: 'rgba(255, 200, 0, 0)',
                        borderColor: 'red'
                        },
                        ticks: {
                            color: 'rgba(255, 202, 0, 0.8)',
                            // fontSize: 18,
                            font: {
                                size: 15, // 'size' now within object 'font {}'
                            },
                        },
                        grid: {
                            color: 'rgba(255, 202, 0, 0.8)'
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: true
                    }
                }
            }
        });

        function fetchData() {
            axios.get('/data').then(response => {
                const userData = response.data;
                const time = new Date().toISOString();
                Object.keys(userData).forEach(username => {
                    if (lastData[username] !== userData[username]) { // Check if data changed
                        let dataset = chart.data.datasets.find(ds => ds.label === username);
                        if (!dataset) {
                            dataset = {
                                label: username,
                                borderColor: getRandomColor(),
                                fill: false,
                                data: [],
                                tension: 0.2
                            };
                            chart.data.datasets.push(dataset);
                        }
                        dataset.data.push({
                            x: time,
                            y: userData[username]
                        });
                        lastData[username] = userData[username]; // Update last fetched data
                    }
                });
                chart.update('none');
            });
        }

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        setInterval(fetchData, 2000); // Fetch data every 2 seconds
    </script>
</body>
</html>
