<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Electrokot Sik</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>

    <div class="code-area">
        <span style="color:#d65562;">
            Increment Counter
        </span>	
        <span>
          <span style="text-align: center;color:#2796ec">
            Username: <input type="text" id="username"><br>
          </span>
          <span style="text-align: center;color: #a6a61f">
            <button id="incrementBtn">+1</button>
          </span>   
        </span>
      </div>  

    <script>
        document.getElementById('incrementBtn').addEventListener('click', function() {
            const username = document.getElementById('username').value;
            axios.post('/increment', { username: username })
                .then(response => {
                    alert('Counter incremented for ' + username);
                })
                .catch(error => console.error('Error:', error));
        });
    </script>

</body>
</html>
